.select-menu-filter {
    display: flex;
    justify-content: center;
}

.SelectMenu {
    width: 158px;
    height: 32px;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-family: Roboto;


}

.SelectMenu .mainOption {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    color: #333;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 6px;
    padding-left: 18px;
    width: 100px;
    border-right: 1px solid #C4C4C4;
}

.SelectMenu .iconArrowDown {
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 4.5px;
    position: relative;
    bottom: 30px;
    left: 5px;
}

.SelectDrop {
    width: 216px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-32px, 3px);
    display: block;
    z-index: 10;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-height: 290px;
    margin-top: 32px;

}

.SelectDrop .subOption {
    padding-left: 10px;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
    height: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.SelectDrop .subOption p {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    transition: 1s;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.SelectDrop .subOption :hover {
    font-size: 18px;
    transition: 1s;
}
