$background-color: #ffffff;

$primary-color: #00a2ff !default;
$primary-accent-color: #008cff !default;

$secondary-color: #706f6f !default;
$secondary-accent-color: #706f6f !default;

body {
    font-family: Roboto;
}
