.card-list-page {
    overflow: auto;
}

.card-list-container {
    width: 99.5%;
    margin-left: 5px;
    text-align: center;
}

.tbody-list {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    text-align: center;
    min-height: 32px;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    background: #fff;
    height: 40px;
}

th {
    text-align: center;
}