.card-header{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    transition: 1s;
    margin-bottom: 16px;
    text-align: center;
    min-height: 150px;
    border-radius: 4px;
    width: 100%;
    justify-content: space-around;
    background: #fff;
    opacity: 0.9;
    padding-top: 0px;
}

.card-header-top {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 100px;
}

.card-header .card-header-container {
    padding: 15px 46px 15px 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
}

.card-header .card-header-container .card-header-left {
    width: 50%;
    padding-left: 80px;
}

.card-header .card-header-container .card-header-left  .card-header-top {
    width: 100%;
}

.card-header .card-header-container .card-header-right {
    width: 50%;
    padding-left: 100px;
}
